<div class="row">
	<div class="col s12 m2 offset-m7">
		<input type="text" class="loginFields" name="login" id="login" />
	</div>
	<div class="col s12 m2">
		<input type="password" class="loginFields" name="senha" id="senha" />
	</div>
	<div class="col s12 m1 right-align">
		<input type="button" value="Entrar" class="loginButtons" />
	</div>
</div>
<div class="row">
	<div class="col s12 m2 offset-m10 right-align">
		<input type="button" value="Esqueci a senha" class="loginButtons" />
	</div>
</div>
