/* You can add global styles to this file, and also import other style files */
* {
    font-family: 'Bowlby One', cursive;
    font-size: 15px;
}
body {
    margin: 0 0 0 0px;
    background-color: #e3e3e3;
}

nav ul a:hover {
    background-color: #a3a3a3;
}